<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ent.listners.Listner"/>
    </listeners>
    <test name="Datadriven" >
        <classes>
            <class name="com.ent.docker_grid.Docker_Grid_Setup"/>
            <class name="com.ent.test.Selenium_Grid_Docker_Test"/>
        </classes>
    </test>
</suite>